<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @member.age %>
</p>

<p>
  <strong>Position:</strong>
  <%= @member.position %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @member.birth %>
</p>

<p>
  <strong>Shirtnam:</strong>
  <%= @member.shirtnam %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
